<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <title>Clash Royale | HOME</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <main>
        <div class="royaleKing">
            <img src="img/OIP-removebg-preview.png" alt="">
        </div>
        <div class="dragonImage">
            <img src="img/dragon.png" alt="">
        </div>
        <div class="form">
            <form action="/get-Data" method="post">
                <input type="text" name="tagName" placeholder="Tag Name">
                <button type="submit">Search</button>
            </form>
        </div>
    </main>
    
</body>
</html>